@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAIN STYLES */
h1{
  @apply text-center text-5xl font-bold
}
h2{
  @apply text-center text-3xl mt-6
}
label{
  @apply block font-bold
}

input, select{
  @apply w-full border h-8 border-primary rounded-md placeholder:text-base focus:border-secondary
}

/* BUTTONS */
.btn-primary{
  @apply text-white bg-secondary rounded-md w-24 p-3 font-bold
}
.btn-secondary{
  @apply text-white bg-gray rounded-md w-24 p-3 font-bold
}
.btn-small{
  @apply rounded p-2 mx-2 text-white w-14 font-bold
}
/* .btn-primary:hover{
  @apply border border-secondary bg-white text-secondary
}
.btn-secondary:hover{
  @apply border border-gray bg-white text-gray
} */

/* ERRORS */
.error{
  @apply text-red italic font-semibold
}


/* TABLE */
.table th,
.table td {
    @apply border border-gray px-3 py-2 text-center capitalize
}

.table th {
    @apply bg-secondary
}

.table tbody tr:nth-child(2n+1) {
    @apply bg-primary
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */